

<div class="container">

	<ul class="breadcrumb  page-head">
		<div class="row show-grid" >
		    <div class="span15  parent-list">	
			<li class="active"> Home  </li>

		    </div>

		    <div class="span3">
			<button class="btn primary small new ">New</button>
			<button class="btn primary small edit">Edit</button>
			<button class="btn danger small delete">Delete</button>
			<button class="btn primary small submit">Submit</button>
			
		    </div>
		    <div class="span2">
			<div class="spinner">
			</div>
		    </div>
		  </div>

	</ul>
	
	<div class="Whiteboard">
		<% @cards.each do |card| %>
			<%= render_card_tree(card, 0) %>
		<% end %>	
	</div>

	
</div>