<div class="container">

	<div class="row breadcrumb page-head" style="margin-left: 0px">
		    <div class=" span12 parent-list">	
			<div class="parent-list-inner">
			  Home
			</div>
		    </div>
		
		
		    <div class="span3">
			
			<% if !signed_in? %>
		        <%= link_to( image_tag("/facebook-login.png"), '/auth/facebook')%>
		        <% else %>
			<button class="btn primary small new ">New</button>
			<button class="btn primary small edit">Edit</button>
			<button class="btn danger small delete">Delete</button>
			<button class="btn primary small submit">Submit</button>
			<% end %>
			
		    </div>
		    <div class="span1">
			<div class="spinner">
			</div>
		    </div>
		
	</div>
	
	
	<div class="Whiteboard">
		<% @cards.each do |card| %>
			<%= render_card_tree(card, 0) %>
		<% end %>	
	</div>

	
</div>