// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card{
	margin-bottom:0.5em;
	position:relative;
	left:1px;
	top:1px;
	.card-outline{
	background:#eee;
	}
	.header{
		background:#c5c5c5;
		padding: 0.2em 0.3em 0.2em 0.3em;
		
		.header-inside{}
		.title{
		}
		.links{
		float:right;
		}
		a{
		color:#000;
		}
	}

	.description{
	padding:0.2em 0.4em 0.2em 0.3em;
	color:#333;
	}
}

.highlight{
	.card-outline{
		border: 3px solid red;
	}
}