// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.span16{
	background: #f8f8f8;
}
.span12{
	background:  #f0f0f0;
}
.span8{
	background: #e6e6e6;
}
.span4{
	background: #ddd;
}

.card{
	margin-bottom:0.5em;
	position:relative;
	left:1px;
	top:1px;
  
	.card-outline{
	}
	.header{
		background:#c5c5c5;
		padding: 0.2em 0.3em 0.2em 0.3em;
		.links{
		float:right;
		}
		a{
		color:#000;
		}
	}

	.description{
	padding:0.2em 0.4em 0.2em 0.3em;
	color:#333;
	}
}

.highlight{
	.card-outline{
	background-color: #d5f6ff;
	}
	.header{
	background-color: #7cb2ff;
	
	}
}